@charset "utf-8";

#center h1 {
	font-size: 36px;
	margin: 0 0 50px 0;
	text-align: center;
	font-weight: 400;
}
#center .box  {
	overflow:hidden;
	height: 50px;
	border-top: 1px solid #333;
}
#center .box a {
	font-size: 24px;
	line-height: 50px;
	cursor: pointer;
	padding: 0 20px;
}
#center .box a:before {
	background-image:url(../img/faq/expand.png);
	height: 50px;
	width: 50px;
	display: block;
	float:left;
	content:'';
}
#center .box .answer {
	font-size:18px;
	padding: 20px;
}
#q1:target, #q2:target, #q3:target, #q4:target, #q5:target, #q6:target, #q7:target, #q8:target  {
	height: auto;
}