<!----- HEADER START--->
<header id="header">
  <div class="content">
    <div id="logo"><a href=""> Bitcloud </a></div>

    <nav id="nav">
      <ul>
        <li><a href="#slide1" class="active" title="Next Section">Home</a></li>
        <li><a href="#slide2" title="Next Section">Development</a></li>
        <li><a href="#slide3" title="Next Section">F&Q</a></li>
        <li><a href="#slide4" title="Next Section">Donations</a></li>
        <li><a href="#slide5" title="Next Section">Contact Us</a></li>
      </ul>
    </nav>
  </div>
</header>
<!----- HEADER END--->