<nav>
    	<span id="case">
            <span class="left">
              <%= link_to 'bitcloud', '/' %>
            </span>

            <span class="right">
                <a href="#" title="#">intro</a>
                <a href="#" title="#">why</a>
                <a href="#" title="#">economics</a>
                <a href="http://bitcloudproject.org/w/Main_Page" rel="nofollow" target="_blank"><img src="img/wiki-ico.png" width="27" height="18" alt="wiki-ico.png" title="Wiki"></a>
                <a href="http://bitcloudproject.org/w/Join_us" rel="nofollow" target="_blank"><img src="img/coding-ico.png" width="27" height="18" alt="coding-ico.png" title="Development"></a>
                <img src="img/grid-ico.png" id="subnav-icon" width="18" height="18" alt="grid-ico.png" style="margin: 0 15px 0 0" title="Submenu">
                <span id="subnav">
                    <%= link_to 'About', url(:about) %>
                  <%= link_to 'FAQ', url(:faq) %>
                  <a href="#">Blog</a>
                    <a href="http://talk.bitcloudproject.org/" target="_blank" rel="nofollow">Forum</a>
                </span>
            </span>
        </span>
</nav>